<% provide(:title, "Home") %>

<h1>スケジュール管理アプリ</h1>
<div class="container">
    <div class="PageTitle">
        <h2 class="PageTitle_text">予定一覧</h2>
        <a href="#">
            <button class="btn btn-primary Button Button--primary">
            新規追加
            </button>
        </a>
    </div>
</div>


