@import "bootstrap-sprockets";
@import "bootstrap";

body {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #333;
}

.container {
    min-width: 980px;
}

.Navbar {
    background-color: #1c1d3b;
    height: 50px;
    margin-bottom: 24px;
}

.navbar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.navbar>.container, .navbar>.container-fluid {
    display: flex;
    flex-wrap: inherit;
    align-items: center;
    justify-content: space-between;
}

.Navbar__text {
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    line-height: 18px;
    margin: 0 auto;
}

.PageTitle {
    align-items: baseline;
    display: flex;
    justify-content: space-between;
    margin-bottom: 18px;
}

.PageTitle__text {
    font-size: 18px;
    font-weight: 700;
    line-height: 26px;
}

h2 {
    display: block;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.Button--primary {
    background-color: #2962ff;
    color: #fff;
}

.Button {
    border-radius: 4px;
    font-size: 14px;
    font-weight: 700;
    height: 45px;
    line-height: 18px;
    padding: 12px 20px;
}

.button-primary {
    border-color: #0d6efd;
}

.btn {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    border: 1px solid transparent;
    transition: color .15s;
}


table {
    th{
        padding: 10px 20px;
        border-bottom: 2px solid gray;
    }
    td {
        background-color: #f9ecd5;
        padding:  10px 20px;
    }
}

.notice {
    background-color: #ccf;
    padding: 5px;
}
